package pages

import "github.com/vigneshwaran-48/echo-safe/internal/models"

templ NotePage(note *models.Note) {
	<div class="p-2 flex justify-center">
		<div contentEditable="true" class="outline-none max-w-[500px]">{ note.Content }</div>
	</div>
}
