@import "tailwindcss";


@theme {
  --color-primary: var(--color-blue-500);
  --color-dark: #1A1A1A;
  --color-light: #202020;
  --color-secondary-text: #999999;
  --color-primary-text: #e9ecef;
  --color-dark-hover: #262626;
}


::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background-color: #464444;
}

::-webkit-scrollbar-thumb:hover {
  background: #5e5a59;
}
